@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* NAVIGATION */
header {
    position: fixed;
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    overflow: hidden;
}

.logo {
    display: flex;
    margin-left: 20%;
    align-items: center;
}

.logo .name {
    font-weight: bold;
    font-size: 18px;
    color: #555;
}

.logo .name::after {
    content: "treehouse";
}

.image {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    border-radius: 14px;
    text-align: center;
    background-color: #7cc576;
}

.image img {
    padding-top: 6px;
    transform: scale(1.1, 1.1);
}

nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    smargin-right: 20%;
}

nav a {
    margin: 0 2px;
    text-decoration: none;
    font-size: 14px;
    color: #777;
    transition: .2s;
}

nav a:hover {
    color: #222;
}

/* TITLE SECTION */

.titleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    height: 530px;
    background: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)), url(img/desk.jpg) no-repeat center left;
    background-size: cover;
}

h1 {
    margin-top: 120px;
    width: 535px;
    text-transform: uppercase;
    letter-spacing: -3px;
    font-size: 60px;
    font-weight: 700;
    font-family: "Montserrat";
    color: #fff;
}

h2 {
    margin-top: 41px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    color: #ccc;
}

.titleSection button {
    margin-top: 55px;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    border-width: 0px;
    background-color: #7cc576;
    cursor: pointer;
    transition: .2s;
}

.titleSection button:hover {
    background-color: #fff;
}

button span {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    font-family: "Montserrat";
    color: #ffffff;
    filter: drop-shadow(0px 1px 0.5px rgba(0, 0, 0, 0.7));

}

button:hover span {
    color: #222222;
}